In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('yandex_music_project.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63848 non-null  object
 2   artist    57876 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

In [13]:
df.groupby('genre', as_index=False)['  userID'].count().sort_values('  userID')

                genre    userID
0                acid         1
158          mandopop         1
156            lovers         1
155  loungeelectronic         1
149             laiko         1
..                ...       ...
119               hip      3148
76         electronic      5852
218              rock      6192
57              dance      6761
189               pop      8850

[289 rows x 2 columns]

In [14]:
df.columns

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

In [15]:
#Очистка данных
#1)Переименование столбцов
df = df.rename(columns={'  userID': 'user_id', 'Track': 'track', '  City  ': 'city', 'Day': 'day'})
df.columns

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

In [16]:
#2)Работа с пропусками
df.isna().sum()# подсчёт пропусков

user_id       0
track      1231
artist     7203
genre      1198
city          0
time          0
day           0
dtype: int64

In [19]:
# перебор названий столбцов в цикле и замена пропущенных значений на 'unknown
columns_to_replace = ['track', 'artist', 'genre']
for column in columns_to_replace:
    df[column] = df[column].fillna('unknown')
df.isna().sum()# подсчёт пропусков

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

In [23]:
pop_data = df[df.genre == 'pop']
pop_data

,user_id,track,artist,genre,city,time,day
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Saint-Petersburg,20:58:07,Wednesday
12,FF3FD2BD,Мина син генэ кирэк,Ильдар Хакимов,pop,Moscow,09:19:49,Monday
14,94EB25C2,Make Love Whenever You Can,Arabesque,pop,Saint-Petersburg,13:22:08,Wednesday
26,982219FD,We Not Speak Americano,Genio Band,pop,Saint-Petersburg,20:03:03,Monday
28,D8D698A9,Romantici,Viola Valentino,pop,Moscow,08:23:21,Wednesday
...,...,...,...,...,...,...,...
65031,1E07F115,Wrong Love,Alex Aris,pop,Moscow,09:21:46,Wednesday
65032,5D69F02B,Naucz mnie,Grzegorz Hyzy,pop,Moscow,21:59:27,Friday
65050,E54A55E0,What R U Doin' Here,KALLY'S Mashup Cast,pop,Saint-Petersburg,13:10:19,Friday
65054,6A71CB92,Remind Me To Forget You,Sarah Geronimo,pop,Moscow,14:21:28,Wednesday
65056,2E25BCD2,Psychobitch,Easter,pop,Moscow,14:53:07,Friday

In [24]:
pop_data1 = df.query("genre == 'pop'")
pop_data1

,user_id,track,artist,genre,city,time,day
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Saint-Petersburg,20:58:07,Wednesday
12,FF3FD2BD,Мина син генэ кирэк,Ильдар Хакимов,pop,Moscow,09:19:49,Monday
14,94EB25C2,Make Love Whenever You Can,Arabesque,pop,Saint-Petersburg,13:22:08,Wednesday
26,982219FD,We Not Speak Americano,Genio Band,pop,Saint-Petersburg,20:03:03,Monday
28,D8D698A9,Romantici,Viola Valentino,pop,Moscow,08:23:21,Wednesday
...,...,...,...,...,...,...,...
65031,1E07F115,Wrong Love,Alex Aris,pop,Moscow,09:21:46,Wednesday
65032,5D69F02B,Naucz mnie,Grzegorz Hyzy,pop,Moscow,21:59:27,Friday
65050,E54A55E0,What R U Doin' Here,KALLY'S Mashup Cast,pop,Saint-Petersburg,13:10:19,Friday
65054,6A71CB92,Remind Me To Forget You,Sarah Geronimo,pop,Moscow,14:21:28,Wednesday
65056,2E25BCD2,Psychobitch,Easter,pop,Moscow,14:53:07,Friday

In [31]:
df.groupby('genre', as_index=False)['user_id'] \
    .count()

           genre  user_id
0           acid        1
1       acoustic        6
2         action        4
3          adult       27
4         africa       17
..           ...      ...
285      western      106
286        world     2069
287    worldbeat        2
288          ïîï        1
289  электроника        1

[290 rows x 2 columns]